{% extends 'base.html' %}
{% block content %}
<main class="container">
<h1>Location Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ location.name }}</span>
        <p>Address: {{ location.address }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'location_update' location.id %}">Edit</a>
        <a href="{% url 'location_delete' location.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %}