{% extends 'base.html' %}
{% block content %}
<main class="container">
<h1>Update Health Status</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <p>Date: {{ health.date}}</p>
        <p>Health Status: {{ health.get_health_display}}</p>
        <p>How are you feeling today?: {{ health.get_feeling_display}}</p>
        <p>What are your current symptoms ?: {{ health.symptoms}}</p>
        <p>Comments: {{ health.comments}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'health_update' health.id %}">Edit</a>
      </div>
    </div>
  </div>
</div>
</main>

{% endblock %}