{% extends 'base.html' %}
{% block content %}
<main class="container">
<h1>My Health</h1>

<a href="{% url 'health_create'%}">
  <div class="card">
      <div class="card-content">
          <p>Add Health Status</p>
      </div>
  </div>
</a>

{% for health in health %}
  <a href="{% url 'health_detail' health.id %}" >
    <div class="card">
        <div class="card-content">
          <p>Date: {{ health.date}}</p>
            <p>Health Status: {{ health.get_health_display}}</p>
            <p>How are you feeling today?: {{ health.get_feeling_display}}</p>
            <p>What are your current symptoms?: {{ health.symptoms}}</p>
            <p>Comments: {{ health.comments}}</p>

        </div>
    </div>
  </a>
{% endfor %}
</main>
{% endblock %} 