{% extends 'base.html' %}

{% block content %}
<h1 class="header center black-text">Your guide to getting around safely during COVID-19 </h1>
<div class="row center">
  <style>
    body {
      background-image: url("emoji.jpg");
      background-size: cover;
    }
  </style>
  <a href="https://www.canada.ca/en/public-health/services/publications/diseases-conditions/know-facts-about-coronavirus-disease-covid-19.html"
    id="download-button" class="btn-large waves-effect">Latest News</a>
  <a href="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection/being-prepared.html"
    id="download-button" class="btn-large waves-effect">Check your Symptoms</a>
  <a href="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html"
    id="download-button" class="btn-large waves-effect">Local Statistics</a>
</div>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
{% endblock %}