{% extends 'base.html' %}
{% block content %}
{%load static %}


       
  <h1 class="header center teal-text text-lighten-2">WELCOME</h1>

  


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            
            <h5 class="center">WHO</h5>

            <p class="light">We created an app for Toronto locals to get around the city safely....</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            
            <h5 class="center">WHY</h5>

            <p class="light">We are focused on keeping record of locations and a number of people at each location. For the public safety all our information is kept anonymous.Our information is updated to our users are aware of how many people are at one location.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
           
            <h5 class="center">HOW</h5>

            <p class="light">Register your account and update everytime you enter a knew location</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">PROMOTING SOCIAL DISTANCING AND LOCAL UPDATES</h5>
        </div>
      </div>
    </div>
 
    <div class="parallax cover"><img src="{% static 'images/background2.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>General Emergency Contacts</h4>
       
          <div>Public Health Agency of Canada
              130 Colonnade Road
              A.L. 6501H
              Ottawa, Ontario K1A 0K9
              Toll-free: 1-844-280-5020
            </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container">
   
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light" style="center center">HELPING YOU GET YOUR ESSENTIALS SAFELY</h5>
        </div>
      </div>
    <div class="parallax bottom center"><img src="{% static 'images/background3.jpg' %} " alt="Unsplashed background img 3" style="center center"></div>
  </div>





{% endblock %}
