
{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tracker19</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper brown lighten-5 ">
        <ul>
          <li><a href="/" class="left noHover"> <img src="https://imgur.com/7pxrnQr.jpg" width='144px' alt="logo"> </a></li>
        </ul>
      {% if user.is_authenticated %}
        <ul class="right">
          <li><a href="/about" class="black-text">About</a></li>
        </ul>
        <ul class="right">
          <li><a href="#" class="black-text">My Entries </a></li>
        </ul>
        <ul class="right">
          <li><a href="#" class="black-text">Create an Entry </a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'logout' %}" class="black-text">Log Out</a></li>
        </ul>
      {% else%}
        <ul class="right">
          <li><a href="{% url 'signup' %}" class="black-text">Sign Up</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'login' %}" class="black-text">Log In</a></li>
        </ul>
      {% endif %}
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer brown lighten-5 black-text">
    <div class="right">All Rights Reserved, &copy; 2020 Tracker19 &nbsp;</div>
  </footer>
</body>
</html>