{% extends 'base.html' %}
{% block content %}

<main class="container">

  <h1>Entry Details</h1>
  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ entry.date }}</span>

        <p>Time: {{ entry.time }}</p>
        <p>Comments: {{ entry.comments }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'entry_update' entry.id %}">Edit</a>
        <a href="{% url 'entry_delete' entry.id %}">Delete</a>
      </div>
    </div>


    <hr>

    <div class="row">
      <div class="col s6">
        <h3>Locations</h3>
        {% if entry.location.count %}
        {% for location in entry.location.all %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  {{ location.name }}
                  <p> {{ location.address }}</p>
                </span>
              </div>
              <div class="card-action">
                <form action="{% url 'unpicked_location' entry.id location.id %}" method="post">
                    {% csrf_token %}
                  <button type="submit" class="btn">Remove</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <h5>Pick a location</h5>
        {% endif %}
      </div>  
    
    
      <!-- Available locations will come after this line -->
    
      <div class="col s6">
        <h3>Available Locations</h3>
        {% if locations.count %}
        {% for location in locations.all %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  {{ location.name }}
                  <p> {{ location.address }}</p>
                </span>
              </div>
              <div class="card-action">
                <form action="{% url 'picked_location' entry.id location.id %}" method="post">
                    {% csrf_token %}
                  <button type="submit" class="btn">Add</button>
                </form>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div> 


    <hr>
    <div class="col s6">
      <h3>Add a Travel Partner</h3>
      <form action="{% url 'add_partner' entry.id %}" method="post">
        {% csrf_token %}
        {{ partner_form.as_p }}
        <input type="submit" class="btn" value="Add Travel Partner">
      </form>
      <table id="striped">
        <thead>
          <tr>
            <th>Travel Partner</th>
            <th>Description</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for partner in entry.partner_set.all %}
          <tr>
            <td>{{ partner.name }}</td>
            <td>{{ partner.description }}</td>
            <td><a href="{% url 'delete_partner' entry.id %}">X</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}