{% extends 'base.html' %}
{% block content %}

<h1>Entries</h1>

{% for e in entry %}
  <a href="{% url 'detail' e.id %}"></a>
    <div class="card">
        <div class="card-content">
            <p>Year: {{ entry.year }}</p>
            <p>Month: {{ entry.month }}</p>
            <p>Day: {{ entry.day }}</p>
            <p>Hour: {{ entry.hour }}</p>
            <p>Min: {{ entry.min }}</p>
            <p>Location: {{ entry.location }}</p>
            <p>Partner: {{ entry.partner }}</p>
            <p>Comments: {{ entry.comments }}</p>  
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}